@import url(font.css);
@import "tailwindcss";

body {
    font-family: "Inter";
    font-weight: 400;
    background: #e9e8e8;
}

.short_desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.long_desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.short_title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.news__1_parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 25px;
}

.news__1_div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.news__1_div2 {
    grid-column-start: 3;
}

.news__1_div3 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.news__2_parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}


.news__2_div2 {
    grid-column: span 2 / span 2;
}

.news__2_div3 {
    grid-column-start: 4;
}

.active_button {
    background: #295480;
    color: #f4f6f9;
}

.swiper-pagination-bullet {
    height: 15px !important;
    width: 15px !important;
    background: rgba(178, 178, 178, 0.5) !important;
}

.swiper-pagination-bullet-active {
    background: white !important;
}

.swiper-button-prev svg {
    color: rgba(178, 178, 178, 0.5) !important;
}

.swiper-button-next svg {
    color: rgba(178, 178, 178, 0.5) !important;
}

.vertical_line::before {
    content: '';
    position: absolute;
    background: #343a40;
    height: 60%;
    width: 1px;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
}

.category_title_line::before {
    content: '';
    position: absolute;
    background: white;
    height: 50%;
    width: 2px;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
}

.category_list_open {
    transform: translateY(100%) !important;
    z-index: 10 !important;
}