@import url(font.css);
@import "tailwindcss";

body {
    font-family: "Inter";
    font-weight: 400;
    background: #e9e8e8;
}

.short_desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.short_title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.news__1_parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 25px;
}

.news__1_div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.news__1_div2 {
    grid-column-start: 3;
}

.news__1_div3 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.news__2_parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}


.news__2_div2 {
    grid-column: span 2 / span 2;
}

.news__2_div3 {
    grid-column-start: 4;
}